stages:
 - deploy

app deploy:
  image: alpine:latest
  stage: deploy
  script:
    - apk add --no-cache openssh sshpass
    - mkdir -p ~/.ssh
    - echo "$SSH_PRIVATE_KEY" >> ~/.ssh/id_rsa
    - chmod 600 ~/.ssh/id_rsa
    - echo -e "Host *\n\tStrictHostKeyChecking no\n\n" > ~/.ssh/config
    - sshpass -p $HOST_PASSWORD ssh $HOST_USER@yantar.in "chmod +x /root/gitlab-deploy/back_app.sh && sudo /root/gitlab-deploy/back_app.sh"
  only:
    - master
