image: node:latest

stages:
  - deploy

main-build:
  stage: deploy

  before_script:
    - cd ../../../../var/www/www-root/data/www/api-new.yantar.in/

  script:
    - pm2 stop "npm run serve"
    - git pull origin master
    - pm2 start "npm run serve"

  only: 
    - master