image: node:latest

stages:
  - deploy

main-build:
  stage: deploy
  before_script:
    - /var/www/www-root/data/www/api-new.yantar.in/
    - git pull
  script:
    - git pull origin master
    - pm2 delete "npm run serve"
    - pm2 start "npm run serve"
  only: 
    - master