image: node:latest

stages:
  - deploy

main-build:
  stage: deploy
  
  script:
   - git pull origin master  
   # - cd /var/www/www-root/data/www/api-new.yantar.in/
   # - pm2 stop "npm run serve"
   # - git pull origin master
   # - pm2 start "npm run serve"

  only: 
    - master